{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Config generator</title>
        <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css' %}" type="text/css"/>
    </head>
    <body>
        <div class="container">
                <form>
                    <div class="form-group row col-md-8">
                        <div class="col-xs-4">
                            <div  class="form-row">
                                <div class="col">
                                    <br><label for="dir0">МРП:</label>
                                    <br><select class="form-control" id="dir0" >
                                        <option value="">-</option>
                                        <option value="PVL/">Поволжье</option>
                                        
                                    </select><br>
                                </div>
                                <div class="col">
                                    <br><label for="dir1">Область:</label>
                                    <br><select class="form-control" id="dir1" >
                                        <option value="">-</option>
                                        <option value="NN/">Nizhegorodskaya</option>
                                    </select><br>
                                </div>
                                <div class="col">
                                    <br><label for="dir2">Город:</label>
                                    <br><select class="form-control" id="dir2" >
                                        <option value="">-</option>
                                        <option value="Arz/">Arzamas</option>
                                    </select><br>
                                </div>
                                <div class="col">
                                    <br><label for="dir3">Вендор:</label>
                                    <br><select class="form-control" id="dir3" >
                                        <option value="">-</option>
                                        
                                    </select><br>
                                </div>
                                <div class="col">
                                    <br><label for="dir4">Модель:</label>
                                    <br><select class="form-control" id="dir4" >
                                        <option value="">-</option>
                                        <option value="Arz/">1210-28</option>
                                    </select>
                                </div>
                            </div>
                            <br><br><p>Введите переменные для шаблона:</p>
                            <input type="text" name="net_details_s" id="net_details_s" placeholder="IP address (ex.: 10.220.0.10/24)" class="form-control"><br>
                            <input type="text" name="hostname" id="hostname" placeholder="Hostname" class="form-control col-xs-4"><br>
                            <input type="text" name="mgmt_vlan" id="mgmt_vlan" placeholder="Mgmt vlan" class="form-control col-xs-4"><br>
                            <input type="text" name="user_vlan" id="user_vlan" placeholder="User vlans" class="form-control col-xs-4"><br>
                            <input type="text" name="other_user_vlans" id="other_user_vlans" placeholder="Other vlans to trunk (ex.: 1,2,3-30)" class="form-control col-xs-4"><br>
                            <div id="errMess" class="row col-sm text-danger"></div><br>
                            <button type="button" id="sendForm" class="btn btn-primary btn-md">Generate</button>
                                    <a id="Response" href="" hidden></a><br>
                            <br><input type="reset" value="Reset" class="btn btn-primary btn-md"><br>
                        </div>
                        <div class="col-xs-4">
                            <div class="container"></div>
                        </div>  
                    </div>
                </form>
            </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="static/js/form.js"></script>
        <script src="static/js/linkedselect.js"></script>
        <script src="static/js/dynamicselect.js"></script>
    </body>
</html>
